-- ============================================
-- FIRE_IIB_RATES DATA REFRESH SQL SCRIPT
-- Execute this in Railway Database Console
-- ============================================

-- Step 1: Truncate existing data
TRUNCATE TABLE fire_iib_rates RESTART IDENTITY CASCADE;

-- Step 2: Insert corrected data from CSV

INSERT INTO fire_iib_rates (iib_code, rate_per_mille) VALUES ('1001', 0.15);
INSERT INTO fire_iib_rates (iib_code, rate_per_mille) VALUES ('1001_2', 0.15);
INSERT INTO fire_iib_rates (iib_code, rate_per_mille) VALUES ('1002', 0.12);

-- Step 3: Verify
SELECT COUNT(*) FROM fire_iib_rates;
SELECT * FROM fire_iib_rates WHERE iib_code IN ('1001', '1002', '2001', '2003', '2005') ORDER BY iib_code;
